@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Work+Sans:wght@400;600;700&display=swap");

:root {
  --primary-color-dark: #222831;
  --primary-color-neutral: #393e46;
  --primary-color-light: #eeeeee;
  --secondary-color-dark: #ffc233;
  --secondary-color-neutral: #ffd369;
  --secondary-color-light: #ffe7ad;
  --transition: ease-in-out 100ms;
  --border-radius: 5px;
  --margin-1x: 12.7vh;
  --margin-2x: 25.35vh;
  --margin-halfx: 6.34vh;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  background-color: var(--primary-color-dark);
  overflow-x: hidden;
  margin: var(--margin-1x);
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Lobster Two", cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  color: var(--secondary-color-neutral);
}

.navbar {
  transform: translateX(-2em);
}

.navbar ul {
  list-style: none;
  align-items: center;
  padding: 0;
  gap: 7em;
}

.navbar li a {
  color: var(--secondary-color-neutral);
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  transition: color var(--transition);
}

.navbar li a:hover {
  color: var(--secondary-color-light);
}

#scroll {
  position: fixed;
  top: 25.5em;
  left: 2em;
  z-index: 1;
}

#scrollbar1 {
  border: 4px solid #5c6470;
  font-size: 34.3rem;
  border-radius: 1.25rem;
}

#scrollbar2 {
  border: 4px solid #000000;
  height: 0%;
  border-radius: 1.25rem;
  position: absolute;
  left: 0;
  top: -0.4em;
}

#headline {
  color: var(--primary-color-light);
  margin: var(--margin-1x) 0 var(--margin-1x) 0;
}

.subtitle {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 125%;
}

h1 {
  margin-top: 0.08em;
  font-weight: 700;
  font-size: 6rem;
  line-height: 125%;
}

#CTA {
  padding: 0.6em;
  color: var(--primary-color-dark);
  background-color: var(--secondary-color-dark);
  border-radius: var(--border-radius);
  font-weight: 600;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all var(--transition);
}

#CTA:hover {
  background-color: var(--secondary-color-light);
}

#portrait {
  height: 60em;
  margin: 9em 0 0 7.5em;
}

#hero-icons {
  justify-content: flex-end;
  align-self: flex-start;
  flex-direction: column;
  font-size: 3.5rem;
  transform: translateY(3.25em);
  margin-left: 1.5em;
}

#hero-icons i {
  margin-bottom: 2.53vh;
  color: #8097b9;
}

.flex {
  display: flex;
}

i {
  transition: color ease-in-out 50ms;
}

i:hover,
#hero-icons a:hover,
#hero-icons i:hover {
  color: var(--primary-color-light);
}

#about-section {
  background-color: #1a1e24;
  flex-direction: column;
  margin: 0 -10em 0 -10em !important;
  height: 136em;
}

h3 {
  font-size: 3.6rem;
  line-height: 111%;
  color: var(--primary-color-light);
}

#about-me {
  margin-top: var(--margin-2x);
}

#about-me,
#skills-title {
  margin-left: 3em;
}

#about-me,
#skills-title,
#websites,
#figma {
  margin-bottom: var(--margin-halfx);
}

p {
  color: var(--primary-color-light);
  font-size: 2.4rem;
  line-height: 154%;
  text-align: justify;
}

#about-section p {
  margin: 0 4.5em var(--margin-1x) 4.5em;
}

#skills {
  margin-left: var(--margin-1x);
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  width: 85%;
}

#skills div {
  background-color: var(--primary-color-dark);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color-light);
  padding: 2.2em 9em;
  gap: 1.5em;
  border-radius: var(--border-radius);
}

#skills i {
  font-size: 6rem;
  color: #ffd369;
}

#skills .subtitle {
  font-size: 3.2rem;
}

#frame1 section {
  display: grid;
}

.div1,
#frame1 section div:nth-child(1),
#frame2 section div:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.div2,
#frame1 section div:nth-child(2),
#frame2 section div:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.div3,
#frame1 section div:nth-child(3),
#frame2 section div:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}

.div4,
#frame1 section div:nth-child(4),
#frame2 section div:nth-child(4) {
  grid-area: 2 / 1 / 3 / 2;
}

.div5,
#frame1 section div:nth-child(5),
#frame2 section div:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;
}

.div6,
#frame1 section div:nth-child(6),
#frame2 section div:nth-child(6) {
  grid-area: 2 / 3 / 3 / 4;
}

#portfolio-section h3 {
  margin: var(--margin-2x) 0 var(--margin-1x) 0;
}

#container {
  flex-direction: row;
  justify-content: space-between;
}

#resume {
  height: 3rem;
  align-self: center;
  margin-top: 15vh;
  transform: translateX(-3rem);
}

#resume a {
  text-decoration: none;
}

#resume span,
#resume i {
  color: var(--secondary-color-dark);
}

#resume span {
  font-weight: 600;
  font-size: 2.5rem;
  margin-right: 1rem;
}

#resume i {
  font-size: 2.5rem;
}

h4 {
  color: var(--primary-color-light);
  font-size: 2.5rem;
  font-weight: 400;
}

#frame1 section,
#frame2 section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-color: var(--primary-color-neutral);
  border-radius: var(--border-radius);
  padding: 2.5em;
  width: 93%;
}

#frame1 section div,
#frame1 section div img,
#frame2 section div,
#frame2 section div img {
  border-radius: var(--border-radius);
  width: 36.6em;
  height: 21.5em;
}

.overlay {
  width: 36.6em;
  height: 21.5em;
  position: absolute;
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0%;
  transition: all ease-in-out 150ms;
}

.overlay a {
  color: var(--primary-color-light);
  font-size: 2.4rem;
  text-decoration: none;
  border: 2px solid var(--primary-color-light);
  border-radius: 30px;
  padding: 0.5em 0.75em;
}

.overlay:hover {
  opacity: 100%;
}

#frame1 {
  margin-bottom: var(--margin-1x);
}

#frame2 {
  margin-bottom: var(--margin-2x);
}

footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #15191e;
  padding: 3.1em 53.5em;
  gap: 3em;
  margin: 0 -10em -10em -10em !important;
}

#footer-icons {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8em;
}

footer i {
  color: var(--primary-color-neutral);
  font-size: 5rem;
}

footer span {
  color: var(--primary-color-light);
  font-size: 1.5rem;
}

#design1,
#design2 {
  position: absolute;
  z-index: -1;
}

#design1 {
  top: 232em;
  left: -17em;
}

#design2 {
  top: 350em;
  left: 109em;
}

#design1 img {
  width: 60em;
  height: 65em;
}

#design2 img {
  width: 45em;
  height: 65em;
}

@media only screen and (max-width: 1120px) {
  nav {
    display: none;
  }
}
